<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.kungfudiscomonkey.alfred.pomodoro</string>
	<key>connections</key>
	<dict>
		<key>26E4502D-85D6-4B56-BBE1-8BD192BC82E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83CF6E3-970A-4DA3-BD20-E21AC5D9448B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>38C925C9-0892-4BA0-B6EC-1F674CBA247B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83CF6E3-970A-4DA3-BD20-E21AC5D9448B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5C73CB94-60A2-4CCD-9E3C-49DC88835017</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>443F1047-D69B-45BF-82A6-27B11FEA8DFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B89CA06C-9227-419D-B688-6697BA9AB7B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D02AB01B-9100-4C76-898E-343B51BA3885</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C92D86EC-2DCA-4DA6-8B5C-24071C1A5B0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26E4502D-85D6-4B56-BBE1-8BD192BC82E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paul Traylor</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pomodoro Sprint</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Quick Pomodoro</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>pomodoro</string>
				<key>triggername</key>
				<string>Pomodoro</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>C92D86EC-2DCA-4DA6-8B5C-24071C1A5B0B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sprint</string>
				<key>subtext</key>
				<string>Do a 25 minute pomodoro sprint</string>
				<key>text</key>
				<string>Pomodoro Sprint</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>38C925C9-0892-4BA0-B6EC-1F674CBA247B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pomodoro</string>
				<key>subtext</key>
				<string>Do a 25 min pomodoro sprint</string>
				<key>text</key>
				<string>Pomodoro Sprint</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>26E4502D-85D6-4B56-BBE1-8BD192BC82E3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(pomodoro_name)
  tell application "Pomodoro" to start pomodoro_name duration 25
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D83CF6E3-970A-4DA3-BD20-E21AC5D9448B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(pomodoro_name)
  tell application "Pomodoro" to start pomodoro_name duration 60
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D02AB01B-9100-4C76-898E-343B51BA3885</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hour</string>
				<key>subtext</key>
				<string>Do an hour long pomodoro sprint.</string>
				<key>text</key>
				<string>Pomodoro Sprint</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B89CA06C-9227-419D-B688-6697BA9AB7B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Reset Pomodoro</string>
				<key>triggername</key>
				<string>Reset Pomodoro</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>5C73CB94-60A2-4CCD-9E3C-49DC88835017</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(query)
  tell application "Pomodoro" to reset
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>443F1047-D69B-45BF-82A6-27B11FEA8DFA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>26E4502D-85D6-4B56-BBE1-8BD192BC82E3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>38C925C9-0892-4BA0-B6EC-1F674CBA247B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>443F1047-D69B-45BF-82A6-27B11FEA8DFA</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>5C73CB94-60A2-4CCD-9E3C-49DC88835017</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B89CA06C-9227-419D-B688-6697BA9AB7B0</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C92D86EC-2DCA-4DA6-8B5C-24071C1A5B0B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D02AB01B-9100-4C76-898E-343B51BA3885</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D83CF6E3-970A-4DA3-BD20-E21AC5D9448B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://kungfudiscomonkey.net</string>
</dict>
</plist>
